<footer class="py-8 px-4 bg-white dark:bg-slate-900">
    <div class="container mx-auto text-center">
      <p class="text-slate-500">© 2025 Pedro Bastos Leite. Feito em Astro e Tailwind.</p>
    </div>
</footer>